.main {
  min-height: 80vh;
  margin-top: 35px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.infoSection {
  width: 50%;
}

.infoheading h1 {
  font-size: 35px;
}

.infotext {
  width: 80%;
  margin-bottom: 4%;
  margin-top: 3%;
}

.infotext p {
  font-size: 18px;
}

.details {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.details p {
  font-size: 18px;
}

.link {
  margin-top: 5%;
}

.linkText {
  margin-bottom: 10px;
}

.linkText p {
  font-size: 20px;
}

.linkIcons {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  margin-left: 10px;
}

.svg {
  width: 1.1rem;
  height: 1.1rem;
  fill: #f21e4e;
  transition: all 0.3s ease-in-out;
}

.linkSvg {
  width: 1.5rem !important;
  height: 1.5rem !important;
  transition: all 0.3s ease-in-out;
}

.formSection {
  width: 50%;
}

.formHeader {
  margin-bottom: 20px;
}

.formHeader h1 {
  font-size: 30px;
}

.textInput input,
.textInput textarea {
  width: 100%;
  font-size: 1.3vw;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.textInput textarea {
  overflow: auto;
  resize: vertical;
  height: 166px;
}

.textInput input:focus,
.textInput textarea:focus {
  box-shadow: 2px 2px rgb(0, 0, 0, 0.25);
}

.button button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 24px;
  background-color: #f21e4e;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.button button span,
.button button svg {
  color: #fff;
  fill: #fff !important;
}

@media only screen and (min-width: 600px) {
  .main {
    padding-top: 65px;
  }

  .linkSvg:hover {
    transform: scale(2);
    fill: #464853;
  }

  .button button:hover {
    background-color: #464853;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding-top: 50px;
    margin-top: 30px;
  }

  .container {
    display: block;
  }

  .infoSection {
    width: 100%;
  }

  .infoheading h1 {
    font-size: 25px;
  }

  .infotext {
    width: 100%;
  }

  .formSection {
    width: 100%;
    margin-top: 8%;
  }

  .formHeader {
    margin-bottom: 10px;
  }

  .formHeader h1 {
    font-size: 25px;
  }

  .textInput input,
  .textInput textarea {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    margin-top: 10px;
    padding-top: 50px;
  }

  .link {
    margin-top: 10%;
  }

  .formSection {
    margin-top: 13%;
  }
}
