.main {
  min-height: 90vh;
}

.skills h1 {
  font-size: 35px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.icons {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30% 30%;
}

.svg {
  width: 5rem;
  height: 5rem;
  fill: #f21e4e;
  transition: all 0.3s ease-in-out;
}

.svg:hover {
  transform: scale(1.3);
  fill: #464853;
}

.svgContainer {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .main {
    padding-top: 65px;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    min-height: 75vh;
    margin-top: 15%;
    padding-top: 50px;
  }

  .skills h1 {
    font-size: 25px;
  }

  .svg {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    min-height: 65vh;
    padding-top: 50px;
  }

  .skills h1 {
    font-size: 23px;
  }

  .svg {
    width: 3rem;
    height: 3rem;
  }

  .icons {
    gap: 20% 20%;
  }
}
